In [1]:
import time
import numpy as np
import pandas as pd
import lightgbm as lgb
import xgboost as xgb

from hyperopt import fmin, hp, tpe, Trials, space_eval, STATUS_OK
from hyperopt.pyll import scope as ho_scope
from hyperopt.pyll.stochastic import sample as ho_sample

from functools import partial

from sklearn.model_selection import cross_val_score, StratifiedKFold
from sklearn.metrics import mean_squared_error
from sklearn.model_selection import GridSearchCV
from sklearn.model_selection import train_test_split 
from sklearn.preprocessing import StandardScaler 
from sklearn.metrics import r2_score

In [2]:
diamond=pd.read_csv('diamonds_train.csv')
diamond.head()

   carat        cut color clarity  depth  table  price     x     y     z
0   1.21    Premium     J     VS2   62.4   58.0   4268  6.83  6.79  4.25
1   0.32  Very Good     H     VS2   63.0   57.0    505  4.35  4.38  2.75
2   0.71       Fair     G     VS1   65.5   55.0   2686  5.62  5.53  3.65
3   0.41       Good     D     SI1   63.8   56.0    738  4.68  4.72  3.00
4   1.02      Ideal     G     SI1   60.5   59.0   4882  6.55  6.51  3.95

In [3]:
X=diamond.drop(columns=['price'])
y=diamond.price

In [4]:
clarity={'I1':0, 'SI2':1, 'SI1':2, 'VS2':3, 'VS1':4, 'VVS2':5, 'VVS1':6, 'IF':7}
cut={'Fair':0, 'Good':1, 'Very Good':2, 'Premium':3, 'Ideal':4}
color={'J':0, 'I':1, 'H':2, 'G':3, 'F':4, 'E':5, 'D':6}

In [5]:
def labeling(s, dic):
    return dic[s]

In [6]:
X.clarity=X.clarity.apply(lambda x: labeling(x, clarity))
X.cut=X.cut.apply(lambda x: labeling(x, cut))
X.color=X.color.apply(lambda x: labeling(x, color))

In [7]:
X.head()

   carat  cut  color  clarity  depth  table     x     y     z
0   1.21    3      0        3   62.4   58.0  6.83  6.79  4.25
1   0.32    2      2        3   63.0   57.0  4.35  4.38  2.75
2   0.71    0      3        4   65.5   55.0  5.62  5.53  3.65
3   0.41    1      6        2   63.8   56.0  4.68  4.72  3.00
4   1.02    4      3        2   60.5   59.0  6.55  6.51  3.95

In [8]:
X=X.drop(columns=['table'])
X.head()

   carat  cut  color  clarity  depth     x     y     z
0   1.21    3      0        3   62.4  6.83  6.79  4.25
1   0.32    2      2        3   63.0  4.35  4.38  2.75
2   0.71    0      3        4   65.5  5.62  5.53  3.65
3   0.41    1      6        2   63.8  4.68  4.72  3.00
4   1.02    4      3        2   60.5  6.55  6.51  3.95

In [9]:
X['Vol']=X.x*X.y*X.z
X['Sum']=X.carat**2+2*X.clarity+X.color
X.head()
X[X.Vol==0]

       carat  cut  color  clarity  depth     x     y    z  Vol      Sum
1606    1.01    3      4        1   59.2  6.50  6.47  0.0  0.0   7.0201
3945    2.02    3      2        3   62.7  8.02  7.95  0.0  0.0  12.0804
6465    0.71    1      4        1   64.1  0.00  0.00  0.0  0.0   6.5041
13839   2.80    1      3        1   63.8  8.90  8.85  0.0  0.0  12.8400
14815   1.07    4      4        1   61.6  0.00  6.62  0.0  0.0   7.1449
14891   2.18    3      2        1   59.4  8.49  8.45  0.0  0.0   8.7524
16425   2.20    3      2        2   61.2  8.42  8.37  0.0  0.0  10.8400
19856   1.00    3      3        1   59.1  6.55  6.48  0.0  0.0   6.0000
21602   1.15    4      3        3   59.2  6.88  6.83  0.0  0.0  10.3225
24795   1.10    3      3        1   63.0  6.50  6.47  0.0  0.0   6.2100
26192   2.25    3      2        1   62.8  0.00  0.00  0.0  0.0   9.0625
26978   1.01    3      2        0   58.1  6.66  6.60  0.0  0.0   3.0201
28029   0.71    1      4        1   64.1  0.00  0.00  0.0  0.0   6.5041
34423   1.14    0      3        4   57.5  0.00  0.00  0.0  0.0  12.2996
34504   1.50    1      3        0   64.0  7.15  7.04  0.0  0.0   5.2500
34601   2.25    3      1        2   61.3  8.52  8.42  0.0  0.0  10.0625

In [10]:
X_train, X_test, y_train, y_test=train_test_split(X, y, test_size=0.2, random_state=42)

In [ ]:
gbm = lgb.LGBMRegressor(num_leaves=100,
                        learning_rate=0.05,
                        n_estimators=200)
gbm.fit(X_train, y_train,
        eval_set=[(X_test, y_test)],
        eval_metric='l2',
        early_stopping_rounds=50, verbose=False)

In [ ]:
y_pred = gbm.predict(X_test, num_iteration=gbm.best_iteration_)
print('RMSE:', mean_squared_error(y_test, y_pred)**0.5)

# Bayes-gridsearch (hyperopt)

In [ ]:
hp_space = {
    'boosting_type': hp.choice('boosting_type', ['gbdt', 'dart']), 
    'learning_rate': hp.uniform('learning_rate', 0.0001, 1.0),
    'num_leaves': hp.quniform('num_leaves', 8, 128, 2),
    'n_estimators': hp.quniform('n_estimators', 25, 1000, 25),
    'reg_alpha':hp.uniform('reg_alpha', 0.1, 1.0)
}


ho_sample(hp_space)

In [11]:
space ={'max_depth': hp.quniform("x_max_depth", 4, 16, 1),
        'min_child_weight': hp.quniform ('x_min_child', 1, 10, 1),
        'subsample': hp.uniform ('x_subsample', 0.7, 1),
        'gamma' : hp.uniform ('x_gamma', 0.1,0.5),
        'reg_lambda' : hp.uniform ('x_reg_lambda', 0,1)
    }

In [27]:
def objetivo(space):
    #print(space)
    clf = xgb.XGBRegressor(n_estimators =10,
                           learning_rate = .3,
                            max_depth = int(space['max_depth']),
                            min_child_weight = space['min_child_weight'],
                            subsample = space['subsample'],
                           gamma = space['gamma'],
                           reg_lambda = space['reg_lambda'],)

    eval_set=[(X_train, y_train), ( X_test, y_test)]

    clf.fit(X_train, y_train,
            eval_set=eval_set, eval_metric="rmse", verbose=False)

    y_pred = clf.predict(X_train)
    rmse = mean_squared_error(y_train, y_pred)**(0.5)
    #print ("SCORE:", np.sqrt(mse_scr))
    #change the metric if you like
    return {'loss':rmse, 'status': STATUS_OK }

In [28]:
trials_reg = Trials()
best = fmin(fn=objetivo,
            space=space,
            algo=tpe.suggest,
            max_evals=10,
            trials=trials_reg)

[21:34:14] WARNING: /workspace/src/objective/regression_obj.cu:152: reg:linear is now deprecated in favor of reg:squarederror.
[21:34:17] WARNING: /workspace/src/objective/regression_obj.cu:152: reg:linear is now deprecated in favor of reg:squarederror.
 10%|█         | 1/10 [00:02<00:23,  2.62s/it, best loss: 346.7533555027384]

/home/iudh/.local/lib/python3.7/site-packages/xgboost/core.py:587: FutureWarning: Series.base is deprecated and will be removed in a future version
  if getattr(data, 'base', None) is not None and \

[21:34:18] WARNING: /workspace/src/objective/regression_obj.cu:152: reg:linear is now deprecated in favor of reg:squarederror.
 20%|██        | 2/10 [00:04<00:18,  2.35s/it, best loss: 346.7533555027384]

/home/iudh/.local/lib/python3.7/site-packages/xgboost/core.py:587: FutureWarning: Series.base is deprecated and will be removed in a future version
  if getattr(data, 'base', None) is not None and \

[21:34:20] WARNING: /workspace/src/objective/regression_obj.cu:152: reg:linear is now deprecated in favor of reg:squarederror.
 30%|███       | 3/10 [00:05<00:14,  2.05s/it, best loss: 346.7533555027384]

/home/iudh/.local/lib/python3.7/site-packages/xgboost/core.py:587: FutureWarning: Series.base is deprecated and will be removed in a future version
  if getattr(data, 'base', None) is not None and \

[21:34:21] WARNING: /workspace/src/objective/regression_obj.cu:152: reg:linear is now deprecated in favor of reg:squarederror.
 40%|████      | 4/10 [00:06<00:10,  1.73s/it, best loss: 346.7533555027384]

/home/iudh/.local/lib/python3.7/site-packages/xgboost/core.py:587: FutureWarning: Series.base is deprecated and will be removed in a future version
  if getattr(data, 'base', None) is not None and \

[21:34:22] WARNING: /workspace/src/objective/regression_obj.cu:152: reg:linear is now deprecated in favor of reg:squarederror.
 50%|█████     | 5/10 [00:07<00:07,  1.50s/it, best loss: 346.7533555027384]

/home/iudh/.local/lib/python3.7/site-packages/xgboost/core.py:587: FutureWarning: Series.base is deprecated and will be removed in a future version
  if getattr(data, 'base', None) is not None and \

[21:34:23] WARNING: /workspace/src/objective/regression_obj.cu:152: reg:linear is now deprecated in favor of reg:squarederror.
 60%|██████    | 6/10 [00:08<00:05,  1.40s/it, best loss: 346.7533555027384]

/home/iudh/.local/lib/python3.7/site-packages/xgboost/core.py:587: FutureWarning: Series.base is deprecated and will be removed in a future version
  if getattr(data, 'base', None) is not None and \

[21:34:25] WARNING: /workspace/src/objective/regression_obj.cu:152: reg:linear is now deprecated in favor of reg:squarederror.
 70%|███████   | 7/10 [00:11<00:04,  1.62s/it, best loss: 346.7533555027384]

/home/iudh/.local/lib/python3.7/site-packages/xgboost/core.py:587: FutureWarning: Series.base is deprecated and will be removed in a future version
  if getattr(data, 'base', None) is not None and \

[21:34:26] WARNING: /workspace/src/objective/regression_obj.cu:152: reg:linear is now deprecated in favor of reg:squarederror.
 80%|████████  | 8/10 [00:12<00:02,  1.48s/it, best loss: 346.7533555027384]

/home/iudh/.local/lib/python3.7/site-packages/xgboost/core.py:587: FutureWarning: Series.base is deprecated and will be removed in a future version
  if getattr(data, 'base', None) is not None and \

[21:34:28] WARNING: /workspace/src/objective/regression_obj.cu:152: reg:linear is now deprecated in favor of reg:squarederror.
 90%|█████████ | 9/10 [00:13<00:01,  1.55s/it, best loss: 346.7533555027384]

/home/iudh/.local/lib/python3.7/site-packages/xgboost/core.py:587: FutureWarning: Series.base is deprecated and will be removed in a future version
  if getattr(data, 'base', None) is not None and \

100%|██████████| 10/10 [00:15<00:00,  1.73s/it, best loss: 346.7533555027384]

In [34]:
print (best)

{'x_gamma': 0.3050325965629337, 'x_max_depth': 13.0, 'x_min_child': 4.0, 'x_reg_lambda': 0.1549679872678349, 'x_subsample': 0.9002594146971687}

In [36]:
modelo=xgb.XGBRegressor(x_gamma=0.3050325965629337, x_max_depth= 13.0, x_min_child= 4.0, 
                        x_reg_lambda=0.1549679872678349, x_subsample= 0.9002594146971687)

# Submit

In [37]:
def submit(modelo, X, y):
    
    clarity={'I1':0, 'SI2':1, 'SI1':2, 'VS2':3, 'VS1':4, 'VVS2':5, 'VVS1':6, 'IF':7}
    cut={'Fair':0, 'Good':1, 'Very Good':2, 'Premium':3, 'Ideal':4}
    color={'J':0, 'I':1, 'H':2, 'G':3, 'F':4, 'E':5, 'D':6}
    
    df=pd.read_csv('diamonds_test.csv')
    submit=pd.DataFrame()
    submit['id']=df.id
    df=df.drop(columns='id')
    
    df.clarity=df.clarity.apply(lambda x: labeling(x, clarity))
    df.cut=df.cut.apply(lambda x: labeling(x, cut))
    df.color=df.color.apply(lambda x: labeling(x, color))
    df=df.drop(columns=['table'])
    df['Vol']=df.x*df.y*df.z
    df['Sum']=df.carat**2+2*df.clarity+df.color

    
    modelo.fit(X, y)
    y_pred=modelo.predict(df)
    
    submit['price']=y_pred
    return submit

In [38]:
res=submit(modelo, X, y)

[21:39:14] WARNING: /workspace/src/objective/regression_obj.cu:152: reg:linear is now deprecated in favor of reg:squarederror.

In [39]:
res.head()

   id        price
0   0  2808.831055
1   1  5704.080566
2   2  9617.725586
3   3  3904.522705
4   4  1609.170288

In [40]:
#res.to_csv('submit_lgbm_bayes.csv', index=False)