# Features

    · id: only for test & sample submission files, id for prediction sample identification
    
    · price: price in USD
    
    · carat: weight of the diamond
    
    · cut: quality of the cut (Fair, Good, Very Good, Premium, Ideal)
    
    · color: diamond colour, from J (worst) to D (best)
    
    · clarity: a measurement of how clear the diamond is (I1 (worst), SI2, SI1, VS2, VS1, VVS2, VVS1, IF (best))
    
    · x: length in mm
    
    · y: width in mm
    
    · z: depth in mm
    
    · depth: total depth percentage = z / mean(x, y) = 2 * z / (x + y) (43--79)
    
    · table: width of top of diamond relative to widest point (43--95)

In [1]:
import time
import numpy as np
import pandas as pd
import lightgbm as lgb

from sklearn.metrics import mean_squared_error
from sklearn.model_selection import GridSearchCV
from sklearn.model_selection import train_test_split 
from sklearn.preprocessing import StandardScaler 
from sklearn.metrics import r2_score

In [2]:
diamond=pd.read_csv('diamonds_train.csv')
diamond.head()

   carat        cut color clarity  depth  table  price     x     y     z
0   1.21    Premium     J     VS2   62.4   58.0   4268  6.83  6.79  4.25
1   0.32  Very Good     H     VS2   63.0   57.0    505  4.35  4.38  2.75
2   0.71       Fair     G     VS1   65.5   55.0   2686  5.62  5.53  3.65
3   0.41       Good     D     SI1   63.8   56.0    738  4.68  4.72  3.00
4   1.02      Ideal     G     SI1   60.5   59.0   4882  6.55  6.51  3.95

In [3]:
#diamond=diamond[(diamond[['x','y','z']]!=0).all(axis=1)]

In [4]:
X=diamond.drop(columns=['price'])
y=diamond.price

In [5]:
#scaler=StandardScaler()

#X[['carat']]=scaler.fit_transform(X[['carat']])
#X.head()

In [6]:
clarity={'I1':0, 'SI2':1, 'SI1':2, 'VS2':3, 'VS1':4, 'VVS2':5, 'VVS1':6, 'IF':7}
cut={'Fair':0, 'Good':1, 'Very Good':2, 'Premium':3, 'Ideal':4}
color={'J':0, 'I':1, 'H':2, 'G':3, 'F':4, 'E':5, 'D':6}

In [7]:
def labeling(s, dic):
    return dic[s]

In [8]:
X.clarity=X.clarity.apply(lambda x: labeling(x, clarity))
X.cut=X.cut.apply(lambda x: labeling(x, cut))
X.color=X.color.apply(lambda x: labeling(x, color))

In [9]:
X.head()

   carat  cut  color  clarity  depth  table     x     y     z
0   1.21    3      0        3   62.4   58.0  6.83  6.79  4.25
1   0.32    2      2        3   63.0   57.0  4.35  4.38  2.75
2   0.71    0      3        4   65.5   55.0  5.62  5.53  3.65
3   0.41    1      6        2   63.8   56.0  4.68  4.72  3.00
4   1.02    4      3        2   60.5   59.0  6.55  6.51  3.95

In [10]:
X=X.drop(columns=['table'])
X.head()

   carat  cut  color  clarity  depth     x     y     z
0   1.21    3      0        3   62.4  6.83  6.79  4.25
1   0.32    2      2        3   63.0  4.35  4.38  2.75
2   0.71    0      3        4   65.5  5.62  5.53  3.65
3   0.41    1      6        2   63.8  4.68  4.72  3.00
4   1.02    4      3        2   60.5  6.55  6.51  3.95

In [11]:
X['Vol']=X.x*X.y*X.z
X['Sum']=X.carat**2+2*X.clarity+X.color
X.head()
X[X.Vol==0]

       carat  cut  color  clarity  depth     x     y    z  Vol      Sum
1606    1.01    3      4        1   59.2  6.50  6.47  0.0  0.0   7.0201
3945    2.02    3      2        3   62.7  8.02  7.95  0.0  0.0  12.0804
6465    0.71    1      4        1   64.1  0.00  0.00  0.0  0.0   6.5041
13839   2.80    1      3        1   63.8  8.90  8.85  0.0  0.0  12.8400
14815   1.07    4      4        1   61.6  0.00  6.62  0.0  0.0   7.1449
14891   2.18    3      2        1   59.4  8.49  8.45  0.0  0.0   8.7524
16425   2.20    3      2        2   61.2  8.42  8.37  0.0  0.0  10.8400
19856   1.00    3      3        1   59.1  6.55  6.48  0.0  0.0   6.0000
21602   1.15    4      3        3   59.2  6.88  6.83  0.0  0.0  10.3225
24795   1.10    3      3        1   63.0  6.50  6.47  0.0  0.0   6.2100
26192   2.25    3      2        1   62.8  0.00  0.00  0.0  0.0   9.0625
26978   1.01    3      2        0   58.1  6.66  6.60  0.0  0.0   3.0201
28029   0.71    1      4        1   64.1  0.00  0.00  0.0  0.0   6.5041
34423   1.14    0      3        4   57.5  0.00  0.00  0.0  0.0  12.2996
34504   1.50    1      3        0   64.0  7.15  7.04  0.0  0.0   5.2500
34601   2.25    3      1        2   61.3  8.52  8.42  0.0  0.0  10.0625

In [12]:
X_train, X_test, y_train, y_test=train_test_split(X, y, test_size=0.2, random_state=42)

In [13]:
gbm = lgb.LGBMRegressor(num_leaves=100,
                        learning_rate=0.05,
                        n_estimators=200)
gbm.fit(X_train, y_train,
        eval_set=[(X_test, y_test)],
        eval_metric='l2',
        early_stopping_rounds=50, verbose=False)

LGBMRegressor(boosting_type='gbdt', class_weight=None, colsample_bytree=1.0,
       importance_type='split', learning_rate=0.05, max_depth=-1,
       min_child_samples=20, min_child_weight=0.001, min_split_gain=0.0,
       n_estimators=200, n_jobs=-1, num_leaves=100, objective=None,
       random_state=None, reg_alpha=0.0, reg_lambda=0.0, silent=True,
       subsample=1.0, subsample_for_bin=200000, subsample_freq=0)

In [14]:
y_pred = gbm.predict(X_test, num_iteration=gbm.best_iteration_)
print('RMSE:', mean_squared_error(y_test, y_pred) ** 0.5)

RMSE: 517.2546738536256

# Gridsearch

In [15]:
def grid(x_tr, y_tr, x_te, y_te, model, param, cv=5):
    start = time.time()
    grid = GridSearchCV(model, param, cv=cv, iid=True, return_train_score=True, n_jobs=-1)
    grid.fit(x_tr, y_tr)
    
    print ('Best score : {:.2f}'.format(grid.score(x_te, y_te)))
    print ('Best parameters: {}'.format(grid.best_params_))
    print ('Best score cross-val: {:.2f}'.format(grid.best_score_))
    
    params = list(grid.best_params_.keys())
    best_params = list(grid.best_params_.values())
    
    y_p = grid.best_estimator_.fit(x_tr, y_tr)  
    y_pred = y_p.predict(x_te) 
    print ('R2 score : {}'.format(r2_score(y_te, y_pred)))
    print ('RMSE: {}'.format(mean_squared_error(y_te, y_pred)**(0.5)))
    
    print ("Time : {:.3f} seconds".format(time.time()-start))

In [16]:
params={'boosting_type':['gbdt'], 'class_weight':[None], 'colsample_bytree':[1.0],
        'importance_type':['split'], 'learning_rate':[0.01, 0.05, 0.1],
        'min_child_samples':[20], 'min_child_weight':[0.001], 'min_split_gain':[0.0],
        'n_estimators':[135, 140, 145], 'num_leaves':[100], 'objective':[None],
        'random_state':[None], 'reg_alpha':[0.0], 'reg_lambda':[0.0], 'silent':[True],
        'subsample':[1.0], 'subsample_for_bin':[200000], 'subsample_freq':[0]}

modelo=lgb.LGBMRegressor()

grid(X_train, y_train, X_test, y_test, modelo, params)

Best score : 0.98
Best parameters: {'boosting_type': 'gbdt', 'class_weight': None, 'colsample_bytree': 1.0, 'importance_type': 'split', 'learning_rate': 0.05, 'min_child_samples': 20, 'min_child_weight': 0.001, 'min_split_gain': 0.0, 'n_estimators': 140, 'num_leaves': 100, 'objective': None, 'random_state': None, 'reg_alpha': 0.0, 'reg_lambda': 0.0, 'silent': True, 'subsample': 1.0, 'subsample_for_bin': 200000, 'subsample_freq': 0}
Best score cross-val: 0.98
R2 score : 0.9834813152572206
RMSE: 518.6553833826904
Time : 53.844 seconds

# Submit

In [17]:
def submit(modelo, X, y):
    
    clarity={'I1':0, 'SI2':1, 'SI1':2, 'VS2':3, 'VS1':4, 'VVS2':5, 'VVS1':6, 'IF':7}
    cut={'Fair':0, 'Good':1, 'Very Good':2, 'Premium':3, 'Ideal':4}
    color={'J':0, 'I':1, 'H':2, 'G':3, 'F':4, 'E':5, 'D':6}
    
    df=pd.read_csv('diamonds_test.csv')
    submit=pd.DataFrame()
    submit['id']=df.id
    df=df.drop(columns='id')
    
    df.clarity=df.clarity.apply(lambda x: labeling(x, clarity))
    df.cut=df.cut.apply(lambda x: labeling(x, cut))
    df.color=df.color.apply(lambda x: labeling(x, color))
    df=df.drop(columns=['table'])
    df['Vol']=df.x*df.y*df.z
    df['Sum']=df.carat**2+2*df.clarity+df.color
    
    print (df)
    
    modelo.fit(X_label, y)
    y_pred=modelo.predict(df)
    submit['price']=y_pred
    return submit

In [18]:
res=submit(modelo, X, y)

       carat  cut  color  clarity  depth     x     y     z         Vol  \
0       0.79    2      4        2   62.7  5.82  5.89  3.67  125.806866
1       1.20    4      0        4   61.0  6.81  6.89  4.18  196.129362
2       1.57    3      2        2   62.2  7.38  7.32  4.57  246.878712
3       0.90    2      4        2   63.8  6.09  6.13  3.90  145.593630
4       0.50    2      4        4   62.9  5.05  5.09  3.19   81.997355
5       1.01    3      4        3   61.3  6.38  6.34  3.90  157.751880
6       1.04    3      2        2   61.0  6.60  6.54  4.01  173.087640
7       0.91    1      6        2   63.1  6.10  6.16  3.87  145.419120
8       1.13    4      1        3   62.2  6.69  6.67  4.15  185.182545
9       1.61    4      4        3   62.9  7.52  7.46  4.71  264.227232
10      1.06    2      1        2   60.2  6.62  6.67  4.00  176.621600
11      0.30    3      6        3   62.5  4.29  4.26  2.67   48.795318
12      0.53    4      6        6   62.1  5.15  5.18  3.21   85.633170
13      0.52    3      6        2   59.7  5.26  5.19  3.12   85.174128
14      0.73    3      4        2   61.2  5.78  5.73  3.52  116.580288
15      0.42    4      6        4   62.1  4.78  4.82  2.98   68.658008
16      0.50    4      3        3   61.6  5.11  5.14  3.16   82.998664
17      0.90    2      3        2   62.2  6.15  6.20  3.84  146.419200
18      1.02    2      2        1   59.7  6.53  6.57  3.91  167.747211
19      0.31    4      4        6   61.6  4.34  4.36  2.68   50.712032
20      0.70    4      1        2   62.6  5.63  5.71  3.55  114.122915
21      1.20    4      0        3   61.6  6.88  6.82  4.22  198.009152
22      1.00    0      4        2   65.8  6.23  6.15  4.07  155.940015
23      0.30    2      2        5   61.5  4.32  4.36  2.66   50.101632
24      2.02    2      3        1   62.8  8.06  8.11  5.08  332.062328
25      0.50    2      0        4   61.4  5.09  5.14  3.15   82.412190
26      0.36    4      2        2   62.3  4.58  4.54  2.84   59.052688
27      0.42    4      3        4   62.0  4.83  4.78  2.98   68.800452
28      0.50    2      4        4   59.9  5.13  5.16  3.08   81.530064
29      0.40    3      5        2   62.0  4.74  4.68  2.92   64.774944
...      ...  ...    ...      ...    ...   ...   ...   ...         ...
13455   0.32    4      1        7   61.4  4.39  4.44  2.71   52.822236
13456   0.25    2      3        6   61.4  4.04  4.07  2.49   40.942572
13457   0.57    4      5        3   61.6  5.38  5.34  3.30   94.806360
13458   0.50    3      2        6   62.5  5.05  5.10  3.17   81.643350
13459   0.76    4      4        5   60.9  5.89  5.96  3.61  126.726884
13460   0.71    4      2        1   59.4  5.87  5.81  3.47  118.343309
13461   0.56    4      3        4   60.6  5.33  5.36  3.24   92.562912
13462   0.72    2      6        1   61.3  5.74  5.78  3.53  117.115516
13463   0.31    4      3        6   60.9  4.40  4.43  2.69   52.433480
13464   1.07    2      3        5   61.6  6.55  6.59  4.05  174.816225
13465   0.59    4      3        2   61.3  5.38  5.42  3.31   96.518276
13466   1.00    2      3        5   59.8  6.47  6.51  3.88  163.424436
13467   0.41    3      1        5   59.9  4.81  4.87  2.90   67.931630
13468   0.33    4      3        4   61.4  4.44  4.48  2.74   54.501888
13469   0.45    3      6        4   60.6  4.98  4.96  3.01   74.349408
13470   0.38    4      6        5   61.5  4.64  4.66  2.86   61.840064
13471   0.32    4      3        2   61.5  4.40  4.44  2.72   53.137920
13472   0.31    4      3        6   62.2  4.33  4.38  2.71   51.396234
13473   0.31    4      5        3   62.6  4.33  4.30  2.70   50.271300
13474   0.40    4      5        2   62.2  4.74  4.78  2.96   67.065312
13475   1.13    3      1        3   62.4  6.63  6.58  4.12  179.736648
13476   0.97    3      5        2   61.0  6.32  6.28  3.84  152.408064
13477   0.35    2      3        4   62.5  4.51  4.55  2.83   58.073015
13478   1.20    3      3        4   61.4  6.86  6.81  4.20  196.209720
13479   2.31    3      0        6   62.1  8.49  8.42  5.25  375.300450
13480   0.57    4      5        2   61.9  5.35  5.32  3.30   93.924600
13481   0.71    4      1        3   62.2  5.71  5.73  3.56  116.477148
13482   0.70    4      4        4   61.6  5.75  5.71  3.53  115.898725
13483   0.70    2      4        1   58.8  5.85  5.89  3.45  118.874925
13484   0.40    4      1        5   62.4  4.70  4.73  2.94   65.359140

           Sum
0       8.6241
1       9.4400
2       8.4649
3       8.8100
4      12.2500
5      11.0201
6       7.0816
7      10.8281
8       8.2769
9      12.5921
10      6.1236
11     12.0900
12     18.2809
13     10.2704
14      8.5329
15     14.1764
16      9.2500
17      7.8100
18      5.0404
19     16.0961
20      5.4900
21      7.4400
22      9.0000
23     12.0900
24      9.0804
25      8.2500
26      6.1296
27     11.1764
28     12.2500
29      9.1600
...        ...
13455  15.1024
13456  15.0625
13457  11.3249
13458  14.2500
13459  14.5776
13460   4.5041
13461  11.3136
13462   8.5184
13463  15.0961
13464  14.1449
13465   7.3481
13466  14.0000
13467  11.1681
13468  11.1089
13469  14.2025
13470  16.1444
13471   7.1024
13472  15.0961
13473  11.0961
13474   9.1600
13475   8.2769
13476   9.9409
13477  11.1225
13478  12.4400
13479  17.3361
13480   9.3249
13481   7.5041
13482  12.4900
13483   6.4900
13484  11.1600

[13485 rows x 10 columns]

NameError: name 'X_label' is not defined

In [ ]:
res.head()

In [ ]:
#res.to_csv('submit_lgbm.csv', index=False)