# Predicción de precios de diamantes

Versión SkLearn

Se limpian los datos, se hace ingeniería de características y se prueban varios modelos de la librería.

In [1]:
# Se importan librerías

import pandas as pd

In [2]:
diamond=pd.read_csv('diamonds_train.csv')
diamond.head()

   carat        cut color clarity  depth  table  price     x     y     z
0   1.21    Premium     J     VS2   62.4   58.0   4268  6.83  6.79  4.25
1   0.32  Very Good     H     VS2   63.0   57.0    505  4.35  4.38  2.75
2   0.71       Fair     G     VS1   65.5   55.0   2686  5.62  5.53  3.65
3   0.41       Good     D     SI1   63.8   56.0    738  4.68  4.72  3.00
4   1.02      Ideal     G     SI1   60.5   59.0   4882  6.55  6.51  3.95

# Features

    · id: only for test & sample submission files, id for prediction sample identification
    
    · price: price in USD
    
    · carat: weight of the diamond
    
    · cut: quality of the cut (Fair, Good, Very Good, Premium, Ideal)
    
    · color: diamond colour, from J (worst) to D (best)
    
    · clarity: a measurement of how clear the diamond is (I1 (worst), SI2, SI1, VS2, VS1, VVS2, VVS1, IF (best))
    
    · x: length in mm
    
    · y: width in mm
    
    · z: depth in mm
    
    · depth: total depth percentage = z / mean(x, y) = 2 * z / (x + y) (43--79)
    
    · table: width of top of diamond relative to widest point (43--95)

In [7]:
# Se separan los datos de las etiquetas

X=diamond.drop(columns='price')
y=diamond.price

display (X.head())
display (y.head())

   carat        cut color clarity  depth  table     x     y     z
0   1.21    Premium     J     VS2   62.4   58.0  6.83  6.79  4.25
1   0.32  Very Good     H     VS2   63.0   57.0  4.35  4.38  2.75
2   0.71       Fair     G     VS1   65.5   55.0  5.62  5.53  3.65
3   0.41       Good     D     SI1   63.8   56.0  4.68  4.72  3.00
4   1.02      Ideal     G     SI1   60.5   59.0  6.55  6.51  3.95

0    4268
1     505
2    2686
3     738
4    4882
Name: price, dtype: int64

In [8]:
# tipos de color

X.color.unique()

array(['J', 'H', 'G', 'D', 'F', 'E', 'I'], dtype=object)

In [9]:
# tipos de claridad

X.clarity.unique()

array(['VS2', 'VS1', 'SI1', 'SI2', 'IF', 'VVS1', 'VVS2', 'I1'],
      dtype=object)